.layout-container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;

  .layout-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 20px;
  }
}
