.header-tr {
  flex: 1;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: #e7e6e6;
  font-size: 1.1rem;

  .header-item {
    display: flex;
    justify-content: center;
    border-right: 1px solid #ced4da;
    box-sizing: border-box;

    &:last-child {
      border: none;
    }
  }
}

.body-tr {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #ced4da;
  box-sizing: border-box;
  text-align: center;

  &:last-child {
    border: none;
  }

  &:hover {
    background-color: #f1f3f5;
  }

  &.body-tr-sub:hover {
    background-color: #ffffff;
  }

  .comment-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ced4da;
    box-sizing: border-box;
    padding: 20px 0;
    line-height: 1.5em;

    a {
      font-size: 1.05rem;
      color: rgb(14, 66, 185);
      font-weight: bold;

      &:hover {
        color: rgb(14, 66, 185, 0.7);
      }
    }

    &:last-child {
      border: none;
    }

    &.p20 {
      padding-left: 1em;
      padding-right: 1em;

      div {
        white-space: pre-wrap;
      }
    }

    &.no-border {
      border: none;
    }

    &:nth-child(3) {
      align-items: flex-start;
      justify-content: center;
      text-align: left;

      .more-btn {
        background: transparent;
        border-color: transparent;
        // text-transform: capitalize;
        color: #58afff;
        font-size: 1em;
        cursor: pointer;

        &:hover {
          color: #6dd5fa;
        }
      }
    }

    .item-tools {
      display: flex;
      flex-direction: column;
      align-items: center;

      .css-1d6wzja-MuiButton-startIcon {
        margin: 0;
        padding: 0;
      }

      .item-tools-top {
        gap: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }

    &.item-write {
      .editor {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid #ced4da;
        box-sizing: border-box;

        textarea {
          margin: 0;
          padding: 0;
          border: none;
          border-right: 1px solid #ced4da;
          resize: none;
          overflow-y: scroll;
        }

        .md-editor {
          flex: 1;
          align-items: flex-start;
          padding: 1em;
        }

        .md-viewer {
          flex: 1;
          text-align: left;
          padding: 1em;
          overflow-y: scroll;
          font-size: 0.9em;

          div {
            white-space: pre-line;
          }
        }
      }

      .md-editor {
        width: 100%;
      }

      .md-btn {
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;

        button {
          cursor: pointer;
          width: 10%;
          height: 2em;
          padding: 0;
          font-size: 1em;
          border: 1px solid #58afff;
          display: flex;
          outline: none;
          color: #58afff;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          font-weight: 600;
          background: white;

          &:hover {
            background: #36d1dc; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #5b86e5, #36d1dc);
            color: white;
          }
        }
      }
    }
  }

  .sub-open {
    margin-top: 1em;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: #58afff;
    font-weight: bold;
    cursor: pointer;
  }
}

.sub-comment-item {
  background-color: #f8f9fa;
  width: calc(100% - 2em);
  padding: 1.5em 1em;

  .sub-item {
    margin-bottom: 20px;

    &:last-child {
      margin: 0;
    }
    .info {
      margin-bottom: 1em;
      .author {
        font-size: 1.1em;
        font-weight: bold;
      }

      .datetime {
        font-size: 0.9em;
      }

      .MuiButton-root {
        min-width: 32px;
        margin-left: 1em;

        .css-1d6wzja-MuiButton-startIcon {
          margin: 0;
          padding: 0;
        }
      }
    }

    .content {
      padding-left: 1.2em;
    }
  }

  .re-btn {
    cursor: pointer;
    height: 2.5em;
    font-size: 1em;
    border-radius: 4 px;
    border: 1px solid #58afff;
    display: flex;
    outline: none;
    color: #58afff;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    background: white;

    &:hover {
      background: #36d1dc; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #5b86e5, #36d1dc);
      color: white;
    }
  }
}

.footer-box ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 350px;
  padding: 10px 20px;
  border-radius: 50px;

  li {
    margin: 0 5px;
  }

  button {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    color: #777;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &.active {
      background: #333;
      color: #fff;
    }
  }
}
