.header-tr {
  flex: 1;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: #e7e6e6;
  font-size: 1.1rem;

  .header-item {
    display: flex;
    justify-content: center;
    border-right: 1px solid #ced4da;
    box-sizing: border-box;

    &:last-child {
      border: none;
    }
  }
}

.body-tr {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #ced4da;
  box-sizing: border-box;
  text-align: center;

  &:last-child {
    border: none;
  }

  &:hover {
    background-color: #dee2e6;
  }

  .comment-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ced4da;
    box-sizing: border-box;
    padding: 20px 0;
    line-height: 1.5em;

    a {
      font-size: 1.05rem;
      color: rgb(14, 66, 185);
      font-weight: bold;

      &:hover {
        color: rgb(14, 66, 185, 0.7);
      }
    }

    &:last-child {
      border: none;
    }

    &.p20 {
      padding-left: 1em;
      padding-right: 1em;
    }

    &:nth-child(3) {
      align-items: flex-start;
      justify-content: center;
      text-align: left;

      .more-btn {
        background: transparent;
        border-color: transparent;
        text-transform: capitalize;
        color: #58afff;
        font-size: 1rem;
        cursor: pointer;
        padding-left: 0.25rem;

        &:hover {
          color: #6dd5fa;
        }
      }
    }
    
    .item-tools {
      display: flex;
      flex-direction: column;
      align-items: center;

      .css-1d6wzja-MuiButton-startIcon {
        margin: 0;
        padding: 0;
      }

      .item-tools-top {
        gap: 5px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }
}
// .header-item {
//   display: flex;
//   justify-content: center;
//   font-weight: bold;
//   color: #E7E6E6;
//   font-size: 1.1rem;
//   border-right: 1px solid #eeeeee;
//   box-sizing: border-box;

//   &:last-child {
//     border: none;
//   }
// }

// .header-item {
//   float: left;
//   text-align: center;
//   font-weight: bold;
//   font-size: 1.1rem;
//   height: 30px;
//   padding: 10px;
//   box-sizing: border-box;
// }

// .comment-body {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;

//   &:hover {
//     background-color: #e9ecef;
//   }

//   .comment-item {
//     text-align: center;
//     padding: 10px;
//     box-sizing: border-box;

//     a {
//       font-size: 1.1rem;
//       color: rgb(14, 66, 185);
//       font-weight: bold;
//     }

//     &.content {
//       text-align: left;
//     }

//     .more-btn {
//       background: transparent;
//       border-color: transparent;
//       text-transform: capitalize;
//       color: #58afff;
//       font-size: 1rem;
//       cursor: pointer;
//       padding-left: 0.25rem;

//       &:hover {
//         color: #6dd5fa;
//       }
//     }

//     &.tools {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       justify-content: center;

//       .btn {
//         padding: 5px 10px;
//         align-items: center;
//         justify-content: center;
//       }

//       .btn:last-child {
//         margin-left: 0.5rem;
//       }
//     }
//   }
// }
