@import url('assets/css/reset.css');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#freshrimpsushi {
  width: 100%;
  height: 100%;
  background-color: pink;
  display: flex;
}

.katex-display {
  display: inline-block;
}
